import React from 'react';

export type {{titleCase name}}Props = {

}

const {{titleCase name}}: React.FC<{{titleCase name}}Props> = () => {
	return (
	<div>

	</div>
	);
	};

	export default {{titleCase name}};
